<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet"
          href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Property</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" >
                        <img src="https://picsum.photos/id/237/32/32" alt="User Avatar"
                             class="rounded-circle me-2" th:text="${user.firstName}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><a class="dropdown-item" href="dashboard">Profile</a></li>
                        <li><a class="dropdown-item" href="dashboard">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link"  href="dashboard">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="property">Property</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4"> Property</h1>
                            <form action="/agent/property" method="post" th:object="${property}">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="propertyId" th:field="*{propertyId}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="propertyType" class="form-label">Property Type</label>
                                    <select class="form-control" id="propertyType" name="propertyType">
                                        <option th:value="null">please chose</option>
                                        <option th:each="option : ${propertyTypeList}"
                                                th:value="${option.name}"
                                                th:selected="${propertyType == option.name}"
                                                th:text="${option.name}" required></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" class="form-control" id="description" th:field="*{description}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="city" class="form-label">City</label>
                                    <input type="text" class="form-control" id="city" th:field="*{city}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="state" class="form-label">State</label>
                                    <input type="text" class="form-control" id="state" th:field="*{state}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" th:field="*{address}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="availability" class="form-label">Availability</label>
                                    <input type="text" class="form-control" id="availability" th:field="*{availability}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="rentalPrice" class="form-label">Rental Price</label>
                                    <input type="text" class="form-control" id="rentalPrice" th:field="*{rentalPrice}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="squareFootage" class="form-label">Square Footage</label>
                                    <input type="text" class="form-control" id="squareFootage" th:field="*{squareFootage}" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</div>
<!-- 引入Bootstrap的JavaScript文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
