<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet"
          href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Credit Card</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" >
                        <img src="https://picsum.photos/id/237/32/32" alt="User Avatar"
                             class="rounded-circle me-2" th:text="${user.firstName}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><a class="dropdown-item" href="dashboard">Profile</a></li>
                        <li><a class="dropdown-item" href="dashboard">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link"  href="dashboard">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="address">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="creditCard">Credit card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Neighborhood</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nearby</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reward</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">User Credit Card</h1>
                            <form action="/renter/creditCard" method="post" th:object="${creditCardDto}">
                                <div class="mb-3">
                                    <label for="cardNo" class="form-label">cardNo</label>
                                    <input type="text" class="form-control" id="cardNo" th:field="*{cardNo}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">email</label>
                                    <input type="text" class="form-control"  id="email" th:field="${user.email}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="bank" class="form-label">bank</label>
                                    <input type="text" class="form-control" id="bank" th:field="*{bank}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="bank" class="form-label">address</label>
                                    <select class="form-control" id="addressId" name="addressId">
                                        <option th:value="null">please chose</option>
                                        <option th:each="option : ${addressList}"
                                                th:value="${option.addressId}"
                                                th:selected="${addressId == option.addressId}"
                                                th:text="${option.address}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- 引入Bootstrap的JavaScript文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
