<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet"
          href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Property</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://picsum.photos/id/237/32/32" alt="User Avatar"
                             class="rounded-circle me-2" th:text="${user.firstName}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><a class="dropdown-item" href="dashboard">Profile</a></li>
                        <li><a class="dropdown-item" href="dashboard">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="address">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="creditCard">Credit card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Preference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search">Search for housing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Neighborhood</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nearby</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reward</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">Search for housing</h1>
                            <div class="mb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>email</th>
                                    <th>type</th>
                                    <th>description</th>
                                    <th>city</th>
                                    <th>state</th>
                                    <th>address</th>
                                    <th>availability</th>
                                    <th>price</th>
                                    <th>square</th>
                                    <th>action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${propertyList}">
                                    <td th:text="${item.propertyId}"></td>
                                    <td th:text="${item.email}"></td>
                                    <td th:text="${item.propertyType}"></td>
                                    <td th:text="${item.description}"></td>
                                    <td th:text="${item.city}"></td>
                                    <td th:text="${item.state}"></td>
                                    <td th:text="${item.address}"></td>
                                    <td th:text="${item.availability}"></td>
                                    <td th:text="${item.rentalPrice}"></td>
                                    <td th:text="${item.squareFootage}"></td>
                                    <td>
                                        <a th:href="@{/renter/propertyForm?id={id}(id=${item.propertyId})}" class="btn btn-primary">view</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</div>
<!-- 引入Bootstrap的JavaScript文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
